<!-- footer section start -->
<footer class="bg-success text-center text-white rounded">
    <div class="container p-4 pb-0">
      <div class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
          </div>
    </div>
    <div class="text-center bg-dark p-3" >
      © 2020 Copyright:
      <a class="text-white text-decoration-none" href="#home">Mahmoud Abd El-Baset</a>
    </div>
  </footer>
   <!-- footer section end -->
